[submodule "vendor/teuthology"]
	path = vendor/teuthology
	url = https://github.com/ivotron/teuthology
	branch = wip-11892-docker
[submodule "vendor/ceph-qa-suite"]
	path = vendor/ceph-qa-suite
	url = https://github.com/ceph/ceph-qa-suite
[submodule "vendor/docker.ubuntu"]
	path = vendor/docker.ubuntu
	url = https://github.com/angstwad/docker.ubuntu
